select{
    display: block !important;
    border: none;
    border-radius: 0px;
    height: 40px;
    background: #f9f9ff;
    padding-left: 20px;
    padding-right: 40px;
}

.miCard{
    border: 1px solid black;
}